.sticky-right{
  position: fixed;
  top: 20px;
  right: 40px;
  z-index: 1000;
}
.m-right-5 {
  margin-right: 5px;
}
.grey{
  color: #ccc;
}
.logo-font{
  font-family: 'Leckerli One', cursive;
  font-size:40px;
}
.card-shadow:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.task-wrap{
  margin-top: 10px;
}
.severity-badge{
  float:right;
  width:20%;
  padding:5px;
}

.completed-badge{
  float:right;
  width:35%;
  padding:6px;
}

.task-error-message{
  color: #c53434;
  font-size: 14px;
  margin-left: 5px;
  margin-top: 5px;
}
.error-todo-text{
  color: #c53434;
  font-size: 13px;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom:-22px;
}
.card-completed{
  position: relative;
  display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1.5px solid #19B05D;
    border-radius: .25rem;
}
.rotate180{
  -webkit-animation: rotateY 1s 1 linear;
 animation: rotateY 1s 1 linear;
}

@-webkit-keyframes rotateY {
  to { -webkit-transform: rotateY(180deg); }
}
@keyframes rotateY {
  to { transform: rotateY(180deg); }
}

@media only screen and (max-width: 450px){
  .add-task-text{
    display:none;
  }
}
/*font-family: 'Lobster Two', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Leckerli One', cursive;*/
