.sticky-right{
  position: fixed;
  top: 20px;
  right: 40px;
  z-index: 1000;
}
.m-right-5 {
  margin-right: 5px;
}
.grey{
  color: #ccc;
}

@media only screen and (max-width: 450px){
  .add-task-text{
    display:none;
  }
}
