.menu-animation{
    -webkit-transition: -webkit-transform .3192s cubic-bezier(0.0, 0.0, 0.0, 0.0) .1008s;
    transition: -webkit-transform .3192s cubic-bezier(0.0, 0.0, 0.0, 0.0) .1008s;
    transition: transform .3192s cubic-bezier(0.0, 0.0, 0.0, 0.0) .1008s;
    transition: transform .3192s cubic-bezier(0.0, 0.0, 0.0, 0.0) .1008s, -webkit-transform .3192s cubic-bezier(0.0, 0.0, 0.0, 0.0) .1008s;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}
.menu-close-animation{
    -webkit-transition: -webkit-transform .3192s cubic-bezier(0.0, 0.0, 0.0, 0.0) .1008s;
    transition: -webkit-transform .3192s cubic-bezier(0.0, 0.0, 0.0, 0.0) .1008s;
    transition: transform .3192s cubic-bezier(0.0, 0.0, 0.0, 0.0) .1008s;
    transition: transform .3192s cubic-bezier(0.0, 0.0, 0.0, 0.0) .1008s, -webkit-transform .3192s cubic-bezier(0.0, 0.0, 0.0, 0.0) .1008s;
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
}

.active-link{
  color: #0070FF;
}


*:focus{
  outline: none !important;
}

[role=link]{
 cursor: pointer;
}

.active-bottom{
   border-bottom: 2px solid #0070FF;
}

.sidebar-nav-open{
  background-color: #fff;
  position: fixed;
  z-index: 1;
  left: 0;
  height: 100%;
  margin-top: -20px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.sidebar-nav-closed{
  background-color: #fff;
  position: fixed;
  z-index: 1;
  left: 0;
  height: 100%;
  margin-top: -20px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  width:0px;
}

.sticky-right{
  position: fixed;
  top: 20px;
  right: 40px;
  z-index: 1000;
}
.m-right-5 {
  margin-right: 5px;
}
.grey{
  color: #ccc;
}
.logo-font{
  font-family: 'Leckerli One', cursive;
  font-size: 50px;
}
.card-shadow:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  transition-property: transform;
  transition-timing-function: ease;
  transition-duration: 0.3s;
  transform: scale(1.015 , 1.015);
}
.task-wrap{
  margin-top: 10px;
}
.severity-badge{
  float:right;
  width:20%;
  padding:5px;
}

.completed-badge{
  float:right;
  width:35%;
  padding:6px;
}
.image-upload-title{
  position: relative;
  top: -70px;
  font-weight: 600;
  font-size: 23px;
}
.task-error-message{
  color: #c53434;
  font-size: 14px;
  margin-left: 5px;
  margin-top: 5px;
}
.error-todo-text{
  color: #c53434;
  font-size: 13px;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom:-22px;
}
.card-completed{
  position: relative;
  display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1.5px solid #19B05D;
    border-radius: .25rem;
}
.rotate180{
  -webkit-animation: rotateY 1s 1 linear;
 animation: rotateY 1s 1 linear;
}

@-webkit-keyframes rotateY {
  to { -webkit-transform: rotateY(180deg); }
}
@keyframes rotateY {
  to { transform: rotateY(180deg); }
}

/* media queries */
@media only screen and (max-width: 450px){
  .add-task-text{
    display:none;
  }
}

@media only screen and (max-width: 767px) and (min-width: 451px){

}
@media only screen and (max-width: 1000px) and (min-width: 768px){

}
